@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* *{
  font-family: "M PLUS Rounded 1c", sans-serif;
} */

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(0deg, #59005c50, #71055e50, #87125e50, #9c215e50, #ae315e50, #bf425d50, #ce545d50, #dc665d50, #e7795e50, #f18d6050, #f9a16550, #ffb56b50);
}
