@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

*{
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  min-width: 350px;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(0deg, #59005c2a, #71055e2a, #87125e2a, #9c215e2a, #ae315e2a, #bf425d2a, #ce545d2a, #dc665d2a, #e7795e2a, #f18d602a, #f9a1652a, #ffb56b2a);
}
